<html>

<p><h1>This is the Minecraft programming homepage for <b>${playground_name}</b>.</h1></p>

<hr/>

<ul>
<li><a href="http://${playground_name}:${web_password}@${fully_qualified_domain_name}/${playground_name}/python"><b>${playground_name}'s python programs</b></a>
<li><a href="http://${playground_name}:${web_password}@${fully_qualified_domain_name}/${playground_name}/doc.html">List of shared functions</a>
<li><a href="http://${playground_name}:${web_password}@${fully_qualified_domain_name}/${playground_name}/maps/#map_${playground_name}_world/0/0/189/-195/64">A Google Map-like view of Your World (you can see other player's maps too)</a>
</ul>

<ul>
<li><a href="${lesson_url}">Click here for class lesson notes.</a>
<li><a href="${usb_stick_howto_url}">Click here for instructions on how to use your USB stick.</a>
</ul>

<hr/>

<h2>help</h2>

${help_instructions}

<hr/>

<h2>${playground_name}'s minecraft world</h2>

How to get to ${playground_name}'s Minecraft world using your own Minecraft software (rather than your USB stick):

<ol>
  <li>Run Minecraft.</li>
  <li>Click the "Multiplayer" button in the middle of the screen.</li>
  <li>Click the "Direct Connect" button at the bottom of the screen.</li>
  <li>In the "Server Address" box, enter <pre>${fully_qualified_domain_name}:${minecraft_server_port}</pre></li>
  <li>Click "Join Server"</li>
</ol>

<a name="bin"></a>

<!-- BIN_PATHS_GO_HERE -->

</html>
