c = get_config()
c.IPKernelApp.exec_lines = [
  "from mcpi import minecraft",
  "def connect(): return minecraft.Minecraft.create(port=${raspberry_juice_sponge_plugin_port})",
  "from mcgamedata import block",
  "from oogway.turtle import init, chat, begin, forward, pen_down, right, left, up, down",
  "init(connect, player='${initial_minecraft_player_name_for_oogway}')"
]
