c = get_config()
c.IPKernelApp.exec_lines = [
  "from oogway_client.oogway_client.turtle import *",
  "from grpccraft.world_metadata_pb2 import Material",
  "init('${initial_minecraft_player_name_for_oogway}', ${grpc_craft_port})",
  "%load_ext autoreload",
  "%autoreload 2",
  "import share"
]
